<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ExcelProject/src/main/java/com/demo/ExcelProject/NoOfTablesChecks.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.demo.ExcelProject.NoOfTablesChecks"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ExcelProject"/>
</launchConfiguration>
